<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${advertisement.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>


    <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100%" height="300"
             th:src="@{/images/__${advertisement.photoUrl}__}"/>
        <div class="card-body" style="min-height: 207px;">
            <p class="card-text" th:text="${advertisement.title}"></p>
            <p class="card-text" th:text="'Price:' + ${advertisement.price} + ' грн'"></p>
            <p class="card-text" th:if="${advertisement.status}"
               th:text="'Status: ' + ${advertisement.status}"></p>
            <p class="card-text" th:text="'Category: ' + ${advertisement.categoryName}"></p>
            <p class="card-text" th:text="'Subcategory: ' + ${advertisement.subcategoryName}"></p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                </div>
                <p class="card-text"
                   th:text="${#dates.format(advertisement.createdAt, 'dd/MM/yyyy')}"></p>
            </div>
        </div>
    </div>
    <footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>