<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/pagination.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/scripts/advertisements.js"></script>
    <style>
        a {
            color: inherit;
            text-decoration: none;
        }
        a:hover {
            background-color: #f1f1f1;
        }
        .form-group {
            margin-bottom: 1rem;
        }

        .btn-primary {
            margin-top: 2rem;
        }

        .btn-filter {
            width: 100%;
        }

        .row > .col {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<main>
    <form th:action="@{/advertisements/filter}" method="get">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="type" class="form-label">Тип:</label>
                    <select class="form-select form-select-sm" id="type" name="type">
                        <option value="">Всі</option>
                        <option value="Безкоштовно">Безкоштовно</option>
                        <option value="Ціна договірна">Ціна договірна</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="status" class="form-label">Статус:</label>
                    <select class="form-select form-select-sm" id="status" name="status">
                        <option value="">Всі</option>
                        <option value="Б/У">Б/У</option>
                        <option value="Нове">Нове</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="category" class="form-label">Категорія:</label>
                    <select class="form-select form-select-sm" id="category" name="category">
                        <option value="">Всі</option>
                        <!-- Здесь добавьте опции для категорий -->
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="subcategory" class="form-label">Підкатегорія:</label>
                    <select class="form-select form-select-sm" id="subcategory" name="subcategory">
                        <option value="">Всі</option>
                        <!-- Здесь добавьте опции для подкатегорий -->
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="auction" class="form-label">Аукціон:</label>
                    <select class="form-select form-select-sm" id="auction" name="auction">
                        <option value="">Всі</option>
                        <option value="true">Так</option>
                        <option value="false">Ні</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="priceMin" class="form-label">Ціна від:</label>
                            <input type="text" class="form-control form-control-sm" id="priceMin" name="priceMin">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="priceMax" class="form-label">Ціна до:</label>
                            <input type="text" class="form-control form-control-sm" id="priceMax" name="priceMax">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary btn-filter">Фільтрувати</button>
                    <button type="button" class="btn btn-secondary" onclick="resetFilters()">Скинути фільтри</button>
                </div>
            </div>
        </div>
    </form>



    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="advertisement : ${advertisements}">
                    <div class="card shadow-sm">
                        <a th:href="@{'/advertisement/' + ${advertisement.id}}" style="display:inline-block; text-decoration:none;">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                                 th:src="@{/images/__${advertisement.photoUrl}__}" alt=""/>
                        </a>
                        <div class="card-body" style="min-height: auto;">
                            <div class="text-center">
                                <a th:href="@{'/advertisement/' + ${advertisement.id}}" style="display:inline-block; text-decoration:none;">
                                    <p class="card-text" th:text="${advertisement.title}"></p>
                                </a>
                            </div>
                            <div>
                                <p class="card-text text-end" th:if="${advertisement.auction == null}" th:text="${advertisement.price != null ? advertisement.price + ' грн' : '0 грн'}"></p>
                                <p class="card-text text-end" th:if="${advertisement.auction != null}" th:text="Аукціон"></p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="card-text" th:if="${advertisement.status}"
                                   th:text="${advertisement.status}"></p>
                                <p class="card-text" th:if="${advertisement.type}"
                                   th:text="${advertisement.type}"></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a th:href="@{'/advertisement/' + ${advertisement.id}} + '/create-order'" class="btn btn-sm btn-outline-secondary">Відповісти</a>
                                </div>
                                <p class="card-text"
                                   th:text="${#dates.format(advertisement.createdAt, 'dd/MM/yyyy')}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${advertisements.size() > 9}" class="pagination">
        <ul>
            <li th:unless="${currentPage == 0}">
                <a th:href="@{/advertisements(page=${currentPage - 1})}">&laquo;</a>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}"
                th:class="${pageNumber == currentPage} ? 'active'">
                <a th:href="@{/advertisements(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
            </li>
            <li th:unless="${currentPage == totalPages - 1}">
                <a th:href="@{/advertisements(page=${currentPage + 1})}">&raquo;</a>
            </li>
        </ul>
    </div>
</main>

<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>