<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Реєстрація</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/signPage.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/scripts/registration.js"></script>
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<main>
    <form th:action="@{/register}" method="post">
        <h1 class="h3 mb-3 fw-normal">Реєстрація</h1>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" minlength="3" required oninput="checkEmail()">
            <label for="email">Електрона адреса</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" maxlength="15" minlength="5" required>
            <label for="password">Пароль</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="Password" maxlength="15" minlength="5" required>
            <label for="repeatPassword">Пароль</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        <div th:if="${param.error}" class="alert alert-danger mt-3" role="alert">
            Неправильне ім'я користувача або пароль.
        </div>
        <div th:if="${param.success}" class="alert alert-success mt-3" role="alert">
            Ваш обліковий запис створено. Будь ласка, увійдіть.
        </div>
        <div th:if="${param.errorMsg}" class="alert alert-danger mt-3" role="alert">
            Паролі не збігаються. Будь ласка спробуйте ще раз.
        </div>
    </form>
    <p>Вже є акаунт? <a href="/login">Увійти</a></p>

</main>
</body>
</html>