<div th:fragment="header">
  <html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/advertisements" class="nav-link px-2 text-white">Advertisement</a></li>
        </ul>

        <form th:action="@{/search}" method="get">
          <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search...">
            <button class="btn btn-outline-secondary me-2" type="submit">Search</button>
          </div>
        </form>

        <div class="text-end">
            <th:block sec:authorize="isAnonymous()">

            <button type="button"  class="btn btn-outline-light me-2"><a th:href="@{/login}" class="nav-link px-2 text-white">Sign-in</a></button>
            <button type="button"  class="btn btn-warning"><a th:href="@{/register}" class="nav-link px-2 text-white">Sign-up</a></button>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">

            <button type="button"  class="btn btn-warning"><a th:href="@{/personal-area}" class="nav-link px-2 text-white">Кабінет</a></button>
            <button type="button"  class="btn btn-outline-light me-2"><a th:href="@{/logout}" class="nav-link px-2 text-white">Выйти</a></button>
            </th:block>
        </div>
      </div>
    </div>
  </header>
  </html>
</div>
