<div th:fragment="header">
  <html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Головна</a></li>
          <li><a href="/advertisements" class="nav-link px-2 text-white">Оголошення</a></li>
        </ul>

        <form th:action="@{/search}" method="get">
          <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Пошук...">
            <button class="btn btn-outline-secondary me-2" type="submit">Пошук</button>
          </div>
        </form>

        <div class="text-end">
            <button type="button"  class="btn btn-outline-light me-2"><a th:href="@{/createAdvertisements}" class="nav-link px-2 text-white">Створити оголошення</a></button>
            <th:block sec:authorize="isAnonymous()">
                <button type="button"  class="btn btn-outline-light me-2"><a th:href="@{/login}" class="nav-link px-2 text-white">Вхід</a></button>
                <button type="button"  class="btn btn-warning me-2"><a th:href="@{/register}" class="nav-link px-2 text-white">Реєстрація</a></button>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <button type="button"  class="btn btn-warning"><a th:href="@{/personal-area}" class="nav-link px-2 text-white">Кабінет</a></button>
                <button type="button"  class="btn btn-outline-light me-2"><a th:href="@{/logout}" class="nav-link px-2 text-white">Вийти</a></button>
            </th:block>
        </div>
      </div>
    </div>
  </header>
  </html>
</div>
