body {
    align-items: center;
    height: auto;
    margin: 0;
    color: rgb(33, 37, 41);
    background: rgb(245, 245, 245);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

main {
    display: block;
    margin: 200px auto auto;
    padding: 15px;
    max-width: 330px;
    box-sizing: border-box;
}

